.wings{

}

.wings h1 {
    text-align: center;
    font-family: "Darker Grotesque";
    font-size: 4.1vw;
    font-weight: 700;
}

.wings h1 span{
    color: #FF5200;
}

.wing_images {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 150px;
}

.wing_images .image1 {
    padding-top: 20px;
    height: 60%;
    cursor: pointer;
    transition: height 0.3s ease;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

.wing-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
}

.soft_wing .soft_title {
    font-family: "Darker Grotesque";
    font-weight: bold;
    margin-top: 2%;
    font-size: 3vw;
    text-align: center;
}

.soft {
    color: #FF5200;
}

.soft_text {
    margin-top: 10px;
    font-size: 14px;
    padding-inline: 30%;
    font-family: "Manrope";
    text-align: center;
}

.wing_images .image1:hover{
    height: 70%;
    -webkit-filter: grayscale(0);
	filter: grayscale(0);
}


